<div class="marquee {{ class }}">
  <div class="marquee__inner">
    {% for i in (1..10) %}
      <span class="marquee__text">{{ text }}</span>
      <svg class="marquee__icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 2L15 9L22 12L15 15L12 22L9 15L2 12L9 9L12 2Z" fill="#aa80ff"/>
      </svg>
    {% endfor %}
  </div>
</div>
