<div class="mobile-menu" id="mobileMenu">
  <button class="mobile-menu__close" id="closeMenu">✕</button>

  <ul class="mobile-menu__list">
    <li class="mobile-menu__item"><a href="#">All Products</a></li>
    <li class="mobile-menu__item"><a href="#">Collections</a></li>
  </ul>
</div>
