<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Shopify Simulator | Gradiweb</title>
</head>
<body>
  {% include 'header' %}

  <div class="main-content">
{% include 'hero-section', 
  background_image: settings.hero-banner.background_image,
  button_text: settings.hero-banner.button_text,
  button_link: settings.hero-banner.button_link,
  marquee_text: settings.hero-banner.marquee_text
%}
  </div>

{% include 'footer', payment_methods: settings.payments.settings.payment_methods %}
{% include 'mobile-footer', payment_methods: settings.payments.settings.payment_methods %}



  <script src="/main.js"></script>
</body>
</html>
