.site-header {
  width: 100%;
  color: #fff;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: $primary-color; 
}

.sticky-container {
  position: fixed;
  top: 40px; 
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: $black-color;
  transition: background-color 0.3s ease-in-out;
}

.sticky {
  background-color: rgba(29, 29, 31, 0.8); 
  backdrop-filter: blur(10px); 
}

.main-header {
  width: 100%;
  padding: 18px 0;

  .container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  &__burger {
    display: none;
  }

  &__burger .burger-menu {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__payments {
    background-color: #000;
    border: 1px solid $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 20px;
    border-radius: 50px;
  }

  &__payments h3 {
    font-family: $font-navigation;
    font-weight: 200;
    font-size: $subtitle-size;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__nav {
    display: flex;
    justify-content: center;
  }

  &__menu {
    display: flex;
    gap: 10px;
  }

  &__cart {
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    padding: 8px 20px 8px 20px;
    border-radius: 8px;
    max-width: 75px;
  } 

  &__icon {
    width: 40px;
  }
}

@media (max-width: 768px) {
  .main-header .container {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .main-header__nav {
    display: none; 
  }

  .main-header__cart {
    max-width: 60px;
    width: 60px;
    height: 50px;
    padding: 6px; 
  }

  .main-header__burger {
    display: block; 
  }
}

@media (max-width: 1024px) {
   .main-header__payments {
    display: none;
  }
}
