@import 'mixins';

.footer-mobile {
  width: 100%;
  background-color: transparent;
  padding: 20px 0;
  color: $text-color;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 0 $container-padding;
  }

  &__center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  &__nav-primary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    a {
      @include text-style($font-text, 1.2rem, normal, $text-color);
    }
  }

  &__nav-secondary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    a {
      @include text-style($font-text, 0.6rem, normal, $text-color);
    }
  }

  &__payments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;

    &-title {
      @include text-style($font-text, 0.6rem, 600, $text-color);
      text-align: start;
      max-width: 128px;
    }

    &-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    &-icon {
      width: 30px;
      height: 30px;
    }
  }

  &__newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;

    &-label {
      @include text-style($font-text, 0.875rem, 600, $text-color);
      text-align: center;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
    }

    &-input {
      width: 100%;
      padding: 12px;
      border: 1px solid transparent;
      background-color: $black-color;
      color: $text-color;
      border-radius: $btn-border-radius;
      transition: border $transition-speed ease-in-out;

      &:focus {
        outline: none;
        border: 1px solid $primary-color;
      }

      &::placeholder {
        color: #bbbbbb;
        font-weight: 600;
      }
    }

    &-button {
      position: absolute;
      right: 10px;
      background: none;
      border: none;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    font-family: $font-brand-secondary;
    font-weight: bold;
    width: 100%;
  }

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    &-link {
      @include text-style($font-navigation, 0.5rem, normal, $text-color);
    }
  }

  &__legal {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    max-width: 350px;

    &-text {
      @include text-style($font-text, 0.75rem, normal, $text-color);
      line-height: 1.6;
    }
  }
}

@media (min-width: 1280px) {
  .footer-mobile {
    display: none;
  }
}
