@import 'variables';
@import 'topbar';
@import 'header';
@import 'logo';
@import 'mobile-menu';
@import 'footer';
@import 'mobile-footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
   background-color: #1d1d1f; 
   position: relative; 
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/noise-texture.png'); 
  background-size: 200px;
  background-repeat: repeat;
  background-blend-mode: overlay; 
  opacity: 0.06; 
  z-index: -1; 
  pointer-events: none; 
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1; 
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }




