
@mixin gradient-fade($direction) {
  content: "";
  position: absolute;
  top: 0;
  width: $gradient-width;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  background: linear-gradient(to #{$direction}, #772ef7, rgba(119, 46, 247, 0));
}

.top-bar {
  background: $primary-color;
  padding: 10px 0;
  overflow: hidden;
  font-family: $font-navigation;
  height: 37px;

    &::before {
    @include gradient-fade(right);
    left: 0;
  }

  &::after {
    @include gradient-fade(left);
    right: 0;
  }
}


.marquee {
  white-space: nowrap;
  overflow: hidden;
  position: relative;

  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: nowrap; 
    animation: marquee-scroll 50s linear infinite;
    width: max-content;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: $secondary-color;
    flex-shrink: 0;
  }



  span {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: $text-color;
    text-transform: uppercase;
  }
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}