@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Inter:wght@500&family=Rajdhani:wght@700&display=swap');

$font-brand-primary: 'Audiowide', sans-serif;
$font-brand-secondary: 'Bebas Neue', sans-serif;
$font-text: 'Inter', sans-serif;
$font-navigation: 'Inter', sans-serif;

$title-size: 32px;
$subtitle-size: 0.8rem;

$primary-color: #772ef7;
$secondary-color: #aa80ff;
$text-color: #ffffff;
$black-color: #1d1d1f;

$container-width: 1200px;
$gradient-width: 45px;
$btn-padding: 8px 12px;
$btn-border-radius: 3px;
$transition-speed: 0.3s;
$container-padding: 20px;
$container-max-width: 1500px;
